@import "~bootstrap/scss/bootstrap";
$fa-font-path: "~/font-awesome/fonts";
@import '~font-awesome/css/font-awesome';

body {
    background: white;
}

.card {
    cursor: pointer;
}

.list-group {
  min-height: 5rem;
}

.gu {
    &-mirror {
        position: fixed !important;
        margin: 0 !important;
        z-index: 9999 !important;
        opacity: 0.8;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
        filter: alpha(opacity=80);
    }
    &-hide {
        display: none !important;
      }
    &-unselectable {
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;
      }
      &-transit {
        opacity: 0.2;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
        filter: alpha(opacity=20);
      }
  }