<!DOCTYPE html>
<html ng-app="trelloApp">
  <head>
    <meta charset="utf-8"/>
    <title>Trello</title>
  <link href="style.bundle.css" rel="stylesheet"></head>
  <body>
      <div ng-controller="mainCtrl">
        <h1>{{title}}</h1>
        <button ng-click="testFunction()">button</button>
      </div>
  <script type="text/javascript" src="main.bundle.js"></script></body>
</html>