<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="utf-8"/>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <div ng-controller="HomeController as home">

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4" ng-bind="title"></h1>
      </div>
    </div>

    <div class="container">
      <div class="col-12">
          <board-directive></board-directive>
      </div>
    </div>
  
  </div>
</body>
</html>